* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
}

.header {
  background-color: #2f4399;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header h1 {
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  flex: 1;
  margin: 0;
}

.left-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80px;
}

.right-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80px;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.header i {
  font-size: 1.4rem;
}

.active-title {
  background-color: #4dd0a7;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  z-index: 1;
  margin-top: 50px;
}

.card {
  background-color: white;
  border-radius: 8px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card2 {
  border-radius: 8px;
  margin: 15px;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #2f4399;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-header .expand-icon {
  color: #b2d978;
  font-size: 3rem;
  margin-top: -15px;
  font-weight: normal;
  transform: rotate(90deg);
  /*defaultrotation*/
  transition: transform 0.3s ease;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.card-content {
  padding: 15px;
  margin-top: -18px;
  margin-bottom: -10px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-details {
  flex: 1;
  margin-top: 5px;
}

.price {
  color: #2f4399;
  font-size: larger;
}

.user-photo {
  width: 120px;
  height: 140px;
  overflow: hidden;
  margin-top: -25px;
}

.user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.user-id,
.user-expiry {
  margin-bottom: 15px;
}

.label {
  font-weight: normal;
  display: inline-block;
  padding-bottom: 4px;
}

.value {
  font-weight: bold;
  font-size: 1.05rem;
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.qr-section {
  text-align: center;
  padding: 20px 0;
}

.qr-code img {
  width: 220px;
  height: 220px;
  display: block;
  margin: auto;
  margin-top: -10px;
  cursor: pointer;
}

.qr-button {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  font-size: 1rem;
  cursor: pointer;
}

.qr-button span {
  margin-left: 10px;
}

.time-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  padding: 0 0px 15px;
}

.time-section .time {
  display: flex;
  align-items: center;
}

.current-time {
  padding-left: -10px;
}
.time-section .time span {
  margin-left: 10px;
}

.ticket-number {
  color: #666;
}

.pass-type {
  color: #2f4399;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
}

.route-card {
  background-color: #eaeaea;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.route-label {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.route-label2 {
  font-size: 1rem;
  margin-bottom: -5px;
  font-weight: 300;
}

.route-value {
  font-size: 1.2rem;
  font-weight: 400;
}

.route-value2 {
  font-size: 1.3rem;
  font-weight: normal;
}

.valid-card {
  background-color: #4dd0a7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: -10px;
}

.ticket-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.detail-row-3 {
  padding: 10px;
  color: #949494;
  font-size: 1rem;
  font-weight: 300;
  margin-top: -15px;
  margin-left: -20px;
}

.detail-row-2 {
  padding: 10px;
  color: #949494;
  font-size: 1.1rem;
  margin-top: -7px;
}

.detail-row {
  background-color: #eaeaea;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}

.ticket-id {
  font-weight: bolder;
  text-align: right;
  font-size: 1.08rem;
  margin-top: 5px;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.unico-logo {
  width: 110px;
}

.region-logo {
  width: 170px;
  margin-left: -25px;
  margin-top: 30px;
}

.consortium-info {
  color: #000;
  text-align: left;
  padding: 5px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: -15px;
}

/* QR Code Modal Styles */
.qr-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  background-color: white;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qr-modal-content {
  text-align: center;
}

.qr-modal img {
  max-width: 50%;
  max-height: 50vh;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
}

.bottom-images {
  padding-left: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-home {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon-left {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: -5px;
}

.icon-clock {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: -5px;
  opacity: 0.7;
  vertical-align: middle;
}

.icon-search {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: -12px;
  margin-top: -3px;
}

.icon-lock {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 7px;
}

.empty-space {
  margin-top: 20px;
}
